/* table,
td,
th,
.table-normal {
  border: 1px solid black;
} */

.table-normal {
  border: 1px solid black;
}

.table-normal td {
  border: 1px solid black;
}
.table-normal tr th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}

.rotated {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.table-custom {
  width: 100%;
}
.table-custom thead th {
  font-size: 0.86em;
  font-weight: bold;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  color: var(--bg-primary);
  background-color: var(--table-header-color);
  border-bottom: 2px solid var(--table-border-color);
}
.table-custom tbody {
  border-radius: 6px;
  overflow: hidden;
  font-size: 0.9em;
  color: rgb(67, 64, 78);
}
.table-custom tbody tr {
  text-align: center;
  border-bottom: 2px solid var(--table-border-color);
}
.table-custom tbody tr td {
  padding: 15px 6px;
  background-color: var(--table-body-color);
}
.table-custom tbody tr.log-table-panel {
  text-align: center;
}
.table-custom tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.table-custom tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}
.table-custom thead th:first-child {
  border-top-left-radius: 12px;
}
.table-custom thead th:last-child {
  border-top-right-radius: 12px;
}
.table-custom tbody tr:hover td {
  background: #e4e4e4;
}
