/* table,
td,
th,
.table-normal {
  border: 1px solid black;
} */

.table-normal {
  border: 1px solid black;
}

.table-normal td {
  border: 1px solid black;
}
.table-normal tr th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}

.rotated {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.table-custom {
  width: 100%;
}
.table-custom thead th {
  font-size: 0.86em;
  font-weight: bold;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  color: var(--bg-primary);
  background-color: var(--table-header-color);
  border-bottom: 2px solid var(--table-border-color);
}
.table-custom tbody {
  border-radius: 6px;
  overflow: hidden;
  font-size: 0.9em;
  color: rgb(67, 64, 78);
}
.table-custom tbody tr {
  text-align: center;
  border-bottom: 2px solid var(--table-border-color);
}
.table-custom tbody tr td {
  padding: 15px 6px;
  background-color: var(--table-body-color);
}
.table-custom tbody tr.log-table-panel {
  text-align: center;
}
.table-custom tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.table-custom tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}
.table-custom thead th:first-child {
  border-top-left-radius: 12px;
}
.table-custom thead th:last-child {
  border-top-right-radius: 12px;
}
.table-custom tbody tr:hover td {
  background: #e4e4e4;
}

.modale:before {
  content: '';
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.opened:before {
  display: block;
}
.opened .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 6%;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 0px;
  border-radius: 5px;
  text-align: center;
  position: fixed;

  left: 12%;
  /* right: 0; */
  /* top: 100%; */
  transform: translate(-50%, -50%);
  z-index: 11;
  width: 80%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
}

.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}

@media only screen and (max-width: 1848px) {
  .modal-dialog {
    left: 10%;
  }
}

@media only screen and (max-width: 1548px) {
  .modal-dialog {
    left: 7%;
  }
}

.logo-iot {
  width: 100%;
  object-fit: contain;
  background: var(--bg-primary);
  padding-bottom: 20px;
}
